{% extends "base.html" %} {% block head %} {{ super() }}
  <meta name="robots" content="noindex,nofollow" />
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="{{ url_for('static', filename= 'css/bootstrap.min.css') }}" rel="stylesheet" >
   <link href="{{ url_for('static', filename= 'fonts/css/fontawesome.min.css') }}" rel="stylesheet" >
  <link href="{{ url_for('static', filename= 'fonts/css/brands.min.css') }}" rel="stylesheet" />
    <link href="{{ url_for('static', filename= 'fonts/css/solid.min.css') }}" rel="stylesheet" />
  <link href="{{ url_for('static', filename= 'css/global.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename= 'css/index.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename= 'css/live.css') }}" rel="stylesheet">
   <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet">
   <link href="{{ url_for('static', filename= 'css/flag-icons.css') }}" rel="stylesheet">
   <link href="{{ url_for('static', filename= 'css/records.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}
<div style="padding-top: 55px;"></div>

<section id="center" class="pt-3 pb-3 center_live">
 <div class="container-xl">

   <div class="row schedule2">
    <div class="col-md-9">
    <div class="live">
      <div class="live_2 mt-2"><center><span class="text-white fw-bold" style="font-size: 25px">All Time IPL Data</span></center></div>
      <div class="score_1 mt-2">
        <div class="tab-scroll-wrapper">
          <div class="tab-scroll-inner">
            <ul class="d-flex justify-content-center font_14 fw-bold nav nav-tabs border-0" id="inningsTabs">
              <li class="me-2 mt-1 mb-1" style="font-size: 16px">
                <a class="border_orange d-block p-1 px-3 rounded-pill" data-bs-toggle="tab" aria-expanded="true" href="{{ url_for('main.render_page', page='resultrecords') }}">Result Records</a>
              </li>
              <li class="me-2 mt-1 mb-1" style="font-size: 16px">
                <a class="border_orange d-block p-1 px-3 rounded-pill" data-bs-toggle="tab" aria-expanded="true" href="{{ url_for('main.render_page', page='teamscoringrecords') }}">Teams Records</a>
              </li>
              <li class="me-2 mt-1 mb-1" style="font-size: 16px">
                <a class="border_orange d-block p-1 px-3 rounded-pill" data-bs-toggle="tab" aria-expanded="true" href="{{ url_for('main.render_page', page='individualbattingrecords') }}">Batting Records</a>
              </li>
              <li class="me-2 mt-1 mb-1" style="font-size: 16px">
                <a class="border_orange d-block p-1 px-3 rounded-pill" data-bs-toggle="tab" aria-expanded="true" href="{{ url_for('main.render_page', page='individualbowlingrecords') }}">Bowling Records</a>
              </li>
              <li class="me-2 mt-1 mb-1" style="font-size: 16px">
                <a class="border_orange d-block p-1 px-3 rounded-pill" data-bs-toggle="tab" aria-expanded="true" href="{{ url_for('main.render_page', page='individualwicketkeepingrecords') }}">Wicket Keeping Records</a>
              </li>
              <li class="me-2 mt-1 mb-1" style="font-size: 16px">
                <a class="border_orange d-block p-1 px-3 rounded-pill active" data-bs-toggle="tab" aria-expanded="true" href="{{ url_for('main.render_page', page='individualfieldingrecords') }}">Fielding Records</a>
              </li>
              <li class="me-2 mt-1 mb-1" style="font-size: 16px">
                <a class="border_orange d-block p-1 px-3 rounded-pill" data-bs-toggle="tab" aria-expanded="true" href="{{ url_for('main.render_page', page='individualrecords') }}">Individual Records</a>
              </li>
              <li class="me-2 mt-1 mb-1" style="font-size: 16px">
                <a class="border_orange d-block p-1 px-3 rounded-pill" data-bs-toggle="tab" aria-expanded="true" href="{{ url_for('main.render_page', page='partnershiprecords') }}">Partnership Records</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <center><div class="pt-3 dropdown">
        <button class="dropdown-toggle" onclick="toggleDropdown()" id="dropdownButton">Most Career Catches<i class="fa fa-chevron-down font_10 ms-1"></i></button>
        <div class="dropdown-menu pt-0 pb-0" id="dropdownMenu">
        <a href="#" class="activeD" onclick="selectOption(this, 'Most Career Catches')">Most Career Catches</a>
        <a href="#" onclick="selectOption(this, 'Most Catches in an Innings')">Most Catches in an Innings</a>
        <a href="#" onclick="selectOption(this, 'Most Catches in a Season')">Most Catches in a Season</a>
        </div>
      </div></center>
      <div id="tableContainer" class="table-wrapper"></div>
    </div>
  </div>
   </div>
 </div> 
</section>
<script src="{{ url_for('static', filename='js/ipl_records_stats_gen.js') }}"></script>
<script src="{{ url_for('static', filename='js/individual-fielding-records.js') }}"></script>
{% endblock %}