{% extends "base.html" %} {% block head %} {{ super() }}
	<meta name="robots" content="noindex,nofollow" />
        {% if dt3['info'] != "" and 'won' not in dt3['info'] and 'Break' not in dt3['info'] and 'abandoned' not in dt3['info'] | lower and 'no result' not in dt3['info'] | lower %}
        <meta http-equiv="refresh" content="8">{% endif %}
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="{{ url_for('static', filename= 'css/bootstrap.min.css') }}" rel="stylesheet" >
	 <link href="{{ url_for('static', filename= 'fonts/css/fontawesome.min.css') }}" rel="stylesheet" >
	<link href="{{ url_for('static', filename= 'fonts/css/brands.min.css') }}" rel="stylesheet" />
    <link href="{{ url_for('static', filename= 'fonts/css/solid.min.css') }}" rel="stylesheet" />
	<link href="{{ url_for('static', filename= 'css/global.css') }}" rel="stylesheet">
	<link href="{{ url_for('static', filename= 'css/live.css') }}" rel="stylesheet">
   <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
	<link href="{{ url_for('static', filename= 'css/flag-icons.css') }}" rel="stylesheet">
    <style>
    body {
        font-family: 'Exo 2', sans-serif;
        background-image: url('/static/images/banner_bg.jpg');
        background-size: cover;
        background-attachment: fixed;
    }
    .container1{
    width: 95%;
    margin: 0 auto;
    text-align: center;
    }

    .table-responsive a{
        color: #0398dc !important;
    }

    .label-container {
            width: 95%;
            display: flex;
            justify-content: space-between;
            margin-bottom: 5px;
            margin: 0 auto;
            padding-bottom: 5px;
        }

        .label-container span {
            font-size: 14px;
        }

        .progress-bar {
            width: 80%;
            background-color: #f0f0f0;
            border-radius: 5px;
            overflow: hidden;
            height: 7px;
            position: relative;
			margin: 0 auto;
        }

        .l-bar {
            height: 100%;
            background-color: var(--c);
            position: absolute;
            left: 0;
        }

        .r-bar {
            height: 100%;
            background-color: var(--c);
            position: absolute;
            right: 0;
        }

        .text-container {
            padding-top: 5px;
            display: flex;
            justify-content: space-between;
            margin-top: 5px;
            margin: 0 auto;
            width: 90%;
        }

        .text-container span {
            font-size: 13px;
        }

        .potm-content {
          padding: 10px;
          display: flex;
          align-items: center;
          position: relative;
        }
        .potm-image {
          width: 90px;
          height: 90px;
          border-radius: 50%;
          overflow: hidden;
          box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
          border: 4px solid white;
          position: relative;
          z-index: 1;
          margin-right: 20px;
          transition: transform 0.3s ease;
        }
        .potm-image img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
        .potm-details {
          flex: 1;
        }
        .potm-name {
      font-size: 16px;
      font-weight: 600;
      color: var(--dark);
      margin-bottom: 5px;
    }
        .potm-team {
      color: var(--dark);
      font-weight: 500;
      font-size: 14px;
      margin-bottom: 10px;
      display: flex;
      align-items: center;
    }

    .team-logo {
      width: 20px;
      height: 20px;
      margin-right: 8px;
      border-radius: 50%;
    }
        .potm-stats {
      display: flex;
      gap: 15px;
      margin-top: 15px;
    }
        .stat-item {
      background: var(--light);
      padding: 5px 15px;
      border-radius: 8px;
      text-align: center;
      flex: 1;
      transition: all 0.3s ease;
    }
    /*
    .stat-item:hover {
      background: var(--primary);
      color: white;
      transform: translateY(-3px);
      box-shadow: 0 5px 15px rgba(58, 134, 255, 0.3);
    }

    .stat-item:hover .stat-value {
      color: white;
    }*/

    .stat-label {
      font-size: 13px;
      font-weight: 500;
      text-transform: uppercase;
      opacity: 0.7;
      margin-bottom: 3px;
    }

    .stat-value {
      font-size: 14px;
      font-weight: 600;
      color: var(--dark);
    }
        .potm-name a{
        color: #0398dc !important;
    }

    </style>
{% endblock %}

{% block content %}
{% macro num_suffix(n) %}
    {% if n % 100 in [11, 12, 13] %}
        {{ n }}th
    {% elif n % 10 == 1 %}
        {{ n }}st
    {% elif n % 10 == 2 %}
        {{ n }}nd
    {% elif n % 10 == 3 %}
        {{ n }}rd
    {% else %}
        {{ n }}th
    {% endif %}
{% endmacro %}

<div style="padding-top: 55px;"></div>
<section id="center" class="pt-3 pb-3 center_live">
 <div class="container-xl">
   
   <div class="row schedule2">
    <div class="col-md-9">
	  <div class="live">
		 <div class="live_2 rounded_10 border mt-2" style="background-color: #00816a">
           <div class="live_2_inner row px-3 pt-2 pb-2">
		     <div class="col-md-8">
			  <div class="live_2_inner_left">
			    <b class="text-white" style="font-size: 20px">{{ dt1[4] }} vs {{ dt1[5] }}</b>
				<span class="d-block font_14 text-white">{{ dt2[0] }}, {{ dt2[1] }}, {{ dt2[2] }}, TATA Indian Premier League 2025</span>
			  </div>
			 </div>
		   </div>
		   <span class="bg-white px-3 d-block pt-2"><span class="fi fi-{{ tid[dt3['score_strip'][0].team_id][0] | lower }} me-1"></span> <b>{{ tid[dt3['score_strip'][0].team_id][0] }}</b> <span class="float-end font_14">{% if dt3['score_strip'][0].score %}<b class="fs-6">{{ dt3['score_strip'][0].score.split(' (')[0].split('/')[0] if dt3['score_strip'][0].score.split(' (')[0].split('/')[1] == "10" else dt3['score_strip'][0].score.split(' (')[0] }}</b>{{ ' ('~dt3['score_strip'][0].score.split(' (')[1].replace(' ov', '') }}{% else %}{{ 'Yet to Bat' }}{% endif %}</span></span>
		   <span class="bg-white px-3 d-block pt-2"><span class="fi fi-{{ tid[dt3['score_strip'][1].team_id][0] | lower }} me-1"></span> <b>{{ tid[dt3['score_strip'][1].team_id][0] }}</b> <span class="float-end font_14">{% if dt3['score_strip'][1].score %}<b class="fs-6">{{ dt3['score_strip'][1].score.split(' (')[0].split('/')[0] if dt3['score_strip'][1].score.split(' (')[0].split('/')[1] == "10" else dt3['score_strip'][1].score.split(' (')[0] }}</b>{{ ' ('~dt3['score_strip'][1].score.split(' (')[1].replace(' ov', '') }}{% else %}{{ 'Yet to Bat' }}{% endif %}</span></span>
		    {% if dt3['info'] == "" %}{% set fc = 'text-orange' %}{% elif 'won' in dt3['info'] %}{% set fc = 'text-blue' %}{% else %}{% set fc = 'text-danger' %}{% endif %}
            <span class="bg-white font_14 d-block pt-2 pb-2 px-3 {{ fc }}"><b>{% if dt3['info'] %}{{ dt3['info'] }}{% else %}
		    <div class="clockdiv" data-deadline="{{ dttm.strftime('%Y-%m-%dT%H:%M:%S') }}">
			    <span> Starts in: </span>
			    <span class="days" id="day" style="font-size: 22px;"></span><span style="color: #a6a6a6;"> Days</span>
			    <span class="hours" id="hour" style="font-size: 22px;"></span><span style="color: #a6a6a6;"> Hrs</span>
			    <span class="minutes" id="minute" style="font-size: 22px;"></span><span style="color: #a6a6a6;"> Mins</span>
			    <span class="seconds" id="second" style="font-size: 22px;"></span><span style="color: #a6a6a6;"> Secs</span>
		    </div>
		    {% endif %}</b></span>
		   {% if dt3['info'] != "" and 'won' not in dt3['info'] and 'Break' not in dt3['info']  and 'abandoned' not in dt3['info'] | lower and 'no result' not in dt3['info'] | lower %}
               {% if dt3['score_strip'][0]['currently_batting'] == true %}
                   <span class="d-block pt-2 pt-2 pb-2 px-3 font_12 bg-light">Current RR: <b>{{ dt3['score_strip'][0]['run_rate'].split(' ')[2] }}</b><br>Current Partnership: <b>{{ dt3['innings'][0]['current_partnership']['runs'] }} ({{ dt3['innings'][0]['current_partnership']['balls'] }})</b></span>
               {% elif dt3['score_strip'][1]['currently_batting'] == true %}
                   <span class="d-block pt-2 pt-2 pb-2 px-3 font_12 bg-light">Target: <b>{{ (dt3['score_strip'][0]['score'].split('/')[0] | int) + 1 }}</b>&nbsp;&nbsp;&bull;&nbsp;&nbsp;Current RR: <b>{{ dt3['score_strip'][1]['run_rate'].split(' ')[2] }}</b>&nbsp;&nbsp;|&nbsp;&nbsp;Required RR: <b>{{ dt3['score_strip'][0]['required_run_rate'] }}</b><br>Current Partnership: <b>{{ dt3['innings'][1]['current_partnership']['runs'] }} ({{ dt3['innings'][1]['current_partnership']['balls'] }})</b></span>
               {% endif %}
             {% endif %}

        <ul class="mb-0 bg-white rounded_bottom px-3 score_tab d-block">
         <li class="mx-2 d-inline-block"><a class="d-block" href="{{ url_for('main.matchInfo', match=match) }}">Info</a></li>
		 <li class="mx-2 d-inline-block"><a class="active d-block" href="{{ url_for('main.liveScore', match=match) }}">Live</a></li>
		 <li class="mx-2 d-inline-block"><a class="d-block" href="{{ url_for('main.scoreCard', match=match) }}">Scorecard</a></li>
         <li class="mx-2 d-inline-block"><a class="d-block" href="{{ url_for('main.liveSquad', match=match) }}">Squad</a></li>
		</ul>
	    </div>
          {% if 'won' not in dt3['info'] and 'abandoned' not in dt3['info'] | lower and 'no result' not in dt3['info'] | lower %}
          {% if 'team_win_probability' in dt3 %}
          {% if dt3['team_win_probability'].items() | length != 0 %}
          <div class="live_4 border rounded_10 bg-white mt-3 pt-3 pb-3">
              <div class="container1">
            <div class="label-container">
                <img src="{{ url_for('static', filename= 'images/squad_logos/'~dt1[4]~'.png') }}" width="40px" height="40px">
                <span><b>Win Probability %</b></span>
                <img src="{{ url_for('static', filename= 'images/squad_logos/'~dt1[5]~'.png') }}" width="40px" height="40px">
            </div>
            <div class="progress-bar">
                <div class="l-bar" style="--c: {{ clr[dt1[4]] }}; width: {{ (dt3['team_win_probability'][dt1[4]] | float) | round(0) | int }}%"></div>
                <div class="r-bar" style="--c: {{ clr[dt1[5]] }}; width: {{ (dt3['team_win_probability'][dt1[5]] | float) | round(0) | int }}%"></div>
            </div>
            <div class="text-container">
                <span><b>{{ (dt3['team_win_probability'][dt1[4]] | float) | round(0) | int }}%</b></span>
                <span><b>{{ (dt3['team_win_probability'][dt1[5]] | float) | round(0) | int }}%</b></span>
            </div>
            </div>
          </div>{% endif %}{% endif %}{% endif %}

      {% if 'won' in dt3['info'] or 'abandoned' in dt3['info'] | lower or 'no result' in dt3['info'] | lower %}
          {% if "player_of_match" in dt3 %}
          {% set result = find_player(dt3['player_of_match']['player_name'], sqf) %}
          {% set team = result[3] if result else "NA" %}
          {% set name = result[2] if result else dt3['player_of_match']['player_name'] %}
          <div class="score_2_inner border rounded_10 bg-white mt-3">
              <b class="bg_green font_18 d-block px-3 text-white text-center pt-2 pb-2 rounded_top">Player of the Match</b>
              <div class="potm-content">
                  <div class="potm-image">
                      <img src="/static/images/squads/{{ team }}/{{ name.replace(' ', '-') }}.png" alt="{{ name }}">
                  </div>
                  <div class="potm-details">
                      <div class="potm-name"><a href="{{ url_for('main.squad_details', team=team, name=name) }}">{{ name }}</a></div>
                      <div class="potm-team fw-bold">
                          <img src="/static/images/squad_logos/{{ team }}.png" alt="Team Logo" class="team-logo">
                          {{ fn[team] }}
                      </div>
                      <div class="potm-stats">
                          <div class="stat-item">
                              <div class="stat-label">Bat</div>
                              <div class="stat-value">{{ '-' if dt3['player_of_match']['batting_stat'] == '' else dt3['player_of_match']['batting_stat'] }}</div>
                          </div>
                          <div class="stat-item">
                              <div class="stat-label">Bowl</div>
                              <div class="stat-value">{{ '-' if dt3['player_of_match']['bowling_stat'] == '' else dt3['player_of_match']['bowling_stat'] }}</div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      {% endif %}{% endif %}

      {% if dt2[0] == "Final" %}
          {% if dt3['player_of_series']['player_name'] != "" %}
          {% set result = find_player(dt3['player_of_series']['player_name'], sqf) %}
          {% set team = result[3] if result else "NA" %}
          {% set name = result[2] if result else dt3['player_of_series']['player_name'] %}
          <div class="score_2_inner border rounded_10 bg-white mt-3">
              <b class="bg_green font_18 d-block px-3 text-white text-center pt-2 pb-2 rounded_top">Player of the Series</b>
              <div class="potm-content">
                  <div class="potm-image">
                      <img src="/static/images/squads/{{ team }}/{{ name.replace(' ', '-') }}.png" alt="{{ name }}">
                  </div>
                  <div class="potm-details">
                      <div class="potm-name"><a href="{{ url_for('main.squad_details', team=team, name=name) }}">{{ name }}</a></div>
                      <div class="potm-team fw-bold">
                          <img src="/static/images/squad_logos/{{ team }}.png" alt="Team Logo" class="team-logo">
                          {{ fn[team] }}
                      </div>
                  </div>
              </div>
          </div>
      {% endif %}{% endif %}

      {% if 'won' not in dt3['info'] and 'abandoned' not in dt3['info'] | lower and 'no result' not in dt3['info'] | lower %}
      {% if dt3['innings'] | length != 0 %}
		<div class="live_3 border rounded_10 bg-white mt-3 pt-3">
		  <div class="table-responsive">
		    <table class="table font_12 mb-0">
  <thead class="border-0">
    <tr class="bg-greenlight">
      <th class="text-muted">BATTERS</th>
      <th class="text-muted">R</th>
      <th class="text-muted">B</th>
      <th class="text-muted">4s</th>
	  <th class="text-muted">6s</th>
	  <th class="text-muted">SR</th>
    </tr>
  </thead>
  <tbody>
  {% if dt3['now_batting']['b1']['name'] != "" %}
    <tr>
        {% set result = find_player(dt3['now_batting']['b1']['name'], sqf) %}
        {% set team = result[3] if result else "NA" %}
        {% set name = result[2] if result else dt3['now_batting']['b1']['name'] %}
        <td class="text-blue"><b><a href="{{ url_for('main.squad_details', team=team, name=name) }}">{{ name~'*' }}</a></b></td>
      <td><b>{{ dt3['now_batting']['b1']['stats']['runs'] }}</b></td>
      <td>{{ dt3['now_batting']['b1']['stats']['balls'] }}</td>
      <td>{{ dt3['now_batting']['b1']['stats']['fours'] }}</td>
	  <td>{{ dt3['now_batting']['b1']['stats']['sixes'] }}</td>
	  <td>{{ dt3['now_batting']['b1']['stats']['strike_rate'] }}</td>
    </tr>{% endif %}
  {% if dt3['now_batting']['b2']['name'] != "" %}
    <tr>
        {% set result = find_player(dt3['now_batting']['b2']['name'], sqf) %}
        {% set team = result[3] if result else "NA" %}
        {% set name = result[2] if result else dt3['now_batting']['b2']['name'] %}
        <td class="text-blue"><b><a href="{{ url_for('main.squad_details', team=team, name=name) }}">{{ name }}</a></b></td>
      <td><b>{{ dt3['now_batting']['b2']['stats']['runs'] }}</b></td>
      <td>{{ dt3['now_batting']['b2']['stats']['balls'] }}</td>
      <td>{{ dt3['now_batting']['b2']['stats']['fours'] }}</td>
	  <td>{{ dt3['now_batting']['b2']['stats']['sixes'] }}</td>
	  <td>{{ dt3['now_batting']['b2']['stats']['strike_rate'] }}</td>
    </tr>{% endif %}
    <tr class="bg-greenlight">
      <th class="text-muted">BOWLERS</th>
      <th class="text-muted">O</th>
      <th class="text-muted">M</th>
      <th class="text-muted">R</th>
	  <th class="text-muted">W</th>
	  <th class="text-muted">Econ</th>
    </tr>
    {% if dt3['now_bowling']['b1']['name'] != "" %}
	<tr>
        {% set result = find_player(dt3['now_bowling']['b1']['name'], sqf) %}
        {% set team = result[3] if result else "NA" %}
        {% set name = result[2] if result else dt3['now_bowling']['b1']['name'] %}
        <td class="text-blue"><b><a href="{{ url_for('main.squad_details', team=team, name=name) }}">{{ name~'*' }}</a></b></td>
      <td>{{ dt3['now_bowling']['b1']['stats']['overs'] }}</td>
      <td>{{ dt3['now_bowling']['b1']['stats']['maiden_overs'] }}</td>
      <td>{{ dt3['now_bowling']['b1']['stats']['runs'] }}</td>
	  <td><b>{{ dt3['now_bowling']['b1']['stats']['wickets'] }}</b></td>
	  <td>{{ dt3['now_bowling']['b1']['stats']['economy'] }}</td>
    </tr>{% endif %}
    {% if dt3['now_bowling']['b2']['name'] != "" %}
	<tr>
        {% set result = find_player(dt3['now_bowling']['b2']['name'], sqf) %}
        {% set team = result[3] if result else "NA" %}
        {% set name = result[2] if result else dt3['now_bowling']['b2']['name'] %}
        <td class="text-blue"><b><a href="{{ url_for('main.squad_details', team=team, name=name) }}">{{ name }}</a></b></td>
      <td>{{ dt3['now_bowling']['b2']['stats']['overs'] }}</td>
      <td>{{ dt3['now_bowling']['b2']['stats']['maiden_overs'] }}</td>
      <td>{{ dt3['now_bowling']['b2']['stats']['runs'] }}</td>
	  <td><b>{{ dt3['now_bowling']['b2']['stats']['wickets'] }}</b></td>
	  <td>{{ dt3['now_bowling']['b2']['stats']['economy'] }}</td>
    </tr>{% endif %}
  </tbody>
</table>
		  </div>
		</div>
      {% endif %}{% endif %}
      {% if dt3['innings'] | length != 0 %}
		<div class="live_4 border rounded_10 bg-white mt-3 pt-3 pb-3">
			<span class="d-block px-3 font_14"><b>Overs Stats</b></span>
		  <hr class="mt-2 mb-2">
            {% for over in dt3['overs_timeline_v2'] %}
		  <ul class="mb-0 px-3 fw-bold">
			<li class="d-inline-block mx-1 mt-1 mb-1 fw-bold font_13">{{ num_suffix(over['over'].split('.')[0] | int) }}</li>
              {% for ball in over['summary'] %}
              {% if ball == '6' %}
              <li class="d-inline-block bg-purple text-white rounded-1 text-center ball mt-1 mb-1">{{ ball }}</li>
              {% elif ball == '4' %}
              <li class="d-inline-block bg-blue text-white rounded-1 text-center ball mt-1 mb-1">{{ ball }}</li>
              {% elif ball == 'W' %}
              <li class="d-inline-block bg-danger text-white rounded-1 text-center ball mt-1 mb-1">{{ ball }}</li>
              {% elif 'W' in ball %}
              <li class="d-inline-block bg-danger text-white rounded-1 text-center ball mt-1 mb-1">{{ ball }}</li>
              {% else %}
			  <li class="d-inline-block bg-light rounded-1 text-center ball mt-1 mb-1">{% if ball == 'x' %}{{ '-' }}{% else %}{{ ball }}{% endif %}</li>
              {% endif %}
                {% endfor %}
                <li class="d-inline-block bg-greenlight rounded-1 text-center ball mt-1 mb-1">{{ over["runs"] }}</li>
          </ul>{% endfor %}
		</div>
      {% endif %}

	  </div>
	</div>
   </div>
 </div>
</section>

<script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/theme.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/index.js') }}"></script>
<script>
  // Example starter JavaScript for disabling form submissions if there are invalid fields
(function () {
  'use strict'

  // Fetch all the forms we want to apply custom Bootstrap validation styles to
  var forms = document.querySelectorAll('.needs-validation')

  // Loop over them and prevent submission
  Array.prototype.slice.call(forms)
    .forEach(function (form) {
      form.addEventListener('submit', function (event) {
        if (!form.checkValidity()) {
          event.preventDefault()
          event.stopPropagation()
        }

        form.classList.add('was-validated')
      }, false)
    })
})()
</script>
<script>
      // Function to create a timer for a given clock element
      function createTimer(clockElement) {
      const deadline = new Date(clockElement.getAttribute("data-deadline")).getTime();

      const daysSpan = clockElement.querySelector(".days");
      const hoursSpan = clockElement.querySelector(".hours");
      const minutesSpan = clockElement.querySelector(".minutes");
      const secondsSpan = clockElement.querySelector(".seconds");

      const interval = setInterval(function () {
        const Tnow = new Date();
        const timeZone = 'Asia/Kolkata';
        const dateInTimeZone = new Date(Tnow.toLocaleString('en-US', { timeZone }));
        const now = dateInTimeZone.getTime();
        const t = deadline - now;

        if (t < 0) {
          clearInterval(interval);
          daysSpan.textContent = "0";
          hoursSpan.textContent = "0";
          minutesSpan.textContent = "0";
          secondsSpan.textContent = "0";
          return;
        }

        const days = Math.floor(t / (1000 * 60 * 60 * 24));
        const hours = Math.floor((t % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
        const minutes = Math.floor((t % (1000 * 60 * 60)) / (1000 * 60));
        const seconds = Math.floor((t % (1000 * 60)) / 1000);

        daysSpan.textContent = days;
        hoursSpan.textContent = hours;
        minutesSpan.textContent = minutes;
        secondsSpan.textContent = seconds;
      }, 1000);
    }

    // Initialize timers for all clock elements
    document.querySelectorAll(".clockdiv").forEach(function(clockElement) {
  createTimer(clockElement); // This will start the timer instantly
});
</script>
{% endblock %}
